body{
    background-image: linear-gradient(to right top,  yellow, darkgoldenrod);
    color: black;
}

.heading{
    width: 80%;
    font-size: 22px;
}

.name_of_objects{
    color:darkslateblue;
    font-size: 18px;
}

#camera{
    border:2px dashed black;
    width: 350px;
    height: 300px;
}

#resultMemberName,#resultMemberConfidence{
    color:darkslateblue;
}